body{
    display: flex;
    flex-direction: column;
   
    margin: 0px;
    background-color: #006A6A;
}
.menu_bar{
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:  #eee7ce;
    color:  #006A6A;
    align-content: center;
}
.menu_bar>a{
    color:  #006A6A;
    text-decoration: none;
}
.menu_bar>a:hover{
    color:  #eee7ce;
    background-color: black;
    
}
#heading{
    padding-top: 10px;
    color: #eee7ce;
    text-align: center;
}
.first_page{
    margin: 5% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    background-color: #232323;
    color: #eee7ce;
    border: 2px solid rgba(15, 1, 1, 0.719);
    border-radius: 20px;
    box-shadow: 3px 4px rgba(0, 46, 130, 15%);
  
}
.about>h1,h2,p{
    text-align: center;
    margin: 0 0;
}
#name{
    margin-top: 15px;
    transition: 1s ease;
    
}
#college>a{
    color: #eee7ce;
    text-decoration: none;
}
#college>a:hover{
    color: coral;
}

#degree,#college,p{
    font-size: large;
}
img{
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 40px;
}
@media only screen and (max-width: 240px) {
    img {
      width: 100%;
    }
  }
#name:hover{
        color:  rgba(136, 70, 9, 0.832);
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 4px rgba(114, 110, 110, 0.949);
}

.second_page{
    display: flex;
    flex-wrap: wrap;
    margin: 15% 0;
    padding: 70px;
    color:  #eee7ce;
    text-align: center;
    align-content: center;   
    justify-content: space-around;
}
.skills{
    margin-top: 40px;
    line-height: 20px;
    width: 300px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: black;
    background-color:  #eee7ce;
    justify-content: center;
    border: 4px solid #fbf8f3;
    border-radius: 12px;
}
.skills>#h2,.future_learning>#h2{
    color:  #006A6A;
    padding: 50px 0;
    font-style: oblique;
    font-size: 2rem;
   
}
.skills:hover{
    background-color: #232323;
    color: #fbf8f3;
}
.future_learning:hover{
    background-color: #232323;
    color:  #fbf8f3;


}
.future_learning{
    margin-top: 40px;
    color: black;
    padding-bottom: 30px;
    background-color:  #eee7ce;    
    line-height: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid #fbf8f3;
    border-radius: 12px;

    
}
.last_page{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}
.contact1{
    font-size: 20px;
    margin: 2%  10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}
.contact1>a{
    color: rgb(240, 226, 226);
    text-decoration: none;
    font-size: 20px;
}
.contact1>a:hover{
    color:rgb(13, 2, 0) ;
}
.contact2{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    justify-content: center;
    
}
form{
    color: white;
}
#fullname{
    height: 2rem;
}
#fullname:active{
    background-color: rgb(160, 177, 177);
}
#email-num{
    height: 2rem;

}
#email-num:active{
    background-color: rgb(160, 177, 177);
}
#message:active{
    background-color: rgb(160, 177, 177);

}
button{
    text-align: center;
    margin-top: 20px;
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 12px;
    background-color:  #090909;
    color:  #006A6A;
    margin-left: 25%;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.488);
    font-size: 15px;
    
}
button:hover{
    background-color: #eee7ce;
    border-color: white;
    box-shadow: 2px 2px rgba(248, 246, 254, 0.929);
    
 
}
button:active{
    transform: translateY(4px);
    
   
}
#ph{
    text-align: center;
    font-size: 3rem;
    color:  #eee7ce;
    margin-bottom: 30px;
}

footer{
    text-align: center;
    color:  #eee7ce;
    padding: 15px;
    border: 1px solid white;
}